.section_container{
    width: 100%;
    height: 100vh;
}

.search_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.input{
    width: 1088px;
    height: 53px;
    border-radius: 40px;
    border: none;
    background-color: #F2F2F2;
    
    padding: 0px 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.title{
    font-size: 28px;
}

.centralizer_cards{
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;

   flex-wrap: wrap;

   gap: 108px;
}

.card_container{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    background: var(--gray);


    width: 280px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.container_circle{
    display: flex;
    flex-direction: row;
}

.circle{
    border-radius: 50%;
    border: 3px solid black;

    width: 37px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_atack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   

}

.container_circle_container p{
    color: #4B4B4B;
}



.container_defense{
    display: flex;
    flex-direction: column;

   
}



.container_circle_container{
    display: flex;
    flex-direction: row;
    color: black;
    gap: 15px;
}

.powers{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.abilites_container{
    display: flex;
    flex-direction: row;

    position: absolute;
    margin-top: 150px;
    gap: 20px;
    font-size: 13px;
}

.abilite{
    width: 69px;
    height: 20px;
    box-shadow: inset 0px -2px rgba(0, 0, 0, 0.18);
    border-radius: 8px;


    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    
}
.none{
    display: none;
}


.img_pokemon{
    /* display: flex; */


    height: 180px;
    /* height: 170px; */
    width: 210px; 
    
    background-image: linear-gradient(to bottom, #F5DB13,#F2B807); 

    border-radius: 0px 8px 8px 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.glass_bug {
    background-color: var(--grass-bug);
}

.poison_psychic_fairy_ghost {
    background-color: var(--poison-psychic-fairy-ghost);
}


.stile_dark_rock{
    background-color: var(--stile-dark-rock);
}

.ice_water{
    background-color: var(--ice-water);
}
.fire_fighting_dragon{
    background-color: var(--fire-fighting-dragon);
}

.normal_gosth{
    background-color: var(--normal-gosth);
}

.groud{
    background-color: var(--groud);
}

.eletric{
    background-color: var(--eletric);
}


