@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --Third: #F5DB13;
    --yellowGradient: #F5DB13, #F2B807;
    --gray: #F6F7F9;
    --grass-bug:#70A83B;
    --stile-dark-rock: #A1A1A1;
    --ice-water: #76AADB; 
    --fire-fighting-dragon: #F76545; 
    --normal-gosth:#76AADB; 

    --poison-psychic-fairy-ghost:#A974BC;
    --groud:#9B897B  ;
    --eletric:  #F7C545;


    


    font-family: 'Karla';
    width: 100%;
    height: 100vh;
  }
  
  body {
    margin: 0;
    padding: 0;
    border: 0;
  }
  